<%= form_for @topic do |f| %>
<table>
  <tr>
   <td><%= f.label :title, 'title' %></td>
   <td><%= f.text_field :title %></td>
  </tr>

  <tr>
   <td><%= f.label :category,'category' %></td>
   <%#= f.select(:category, options_for_select([['科技','科技'],['商業','商業'],['技術','技術']])) %>
   <td><%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %></td>
  </tr>
    
  <tr>
   <td><%= f.label :content %></td>
   <td><%= f.text_area :content %></td>
  </tr>

  <tr>
   <td><input class="btn btn-default" type="submit" value="Submit"></td> <%#= f.submit %>
   <td><button type="button" class="btn btn-success"><%= link_to "back", root_path %></button></td>
  </tr>
  
  
</table>
<% end %>



