
<table>
    <th>title:</th>
    <td><%= @topic.title %></td>

    <tr></tr>

    <th>category:</th>
    <td><%= @topic.categories.map(&:name).join(", ") %></td>       <!-- 顯示category -->
    
    <tr></tr>
    
    <th>content:</th>
    <td><%= @topic.content %></td>
</table>
  
  <br>
  <br>
  <br>


<table class="table table-hover">                                   <!-- 回覆表單 -->
    <tr>   
      <th>reply:</th> 
      <th>user:</th>
      <th>time:</th>
      <th></th>
    </tr>
  
  <% @topic.replies.each do |r| %>
    <tr>
      <td><%= r.content %></td>                                   <!-- 回覆者內容 -->
      <td><%= r.user.try(:email) %></td>                          <!-- 回覆者的email -->
      <td><%= r.created_at.strftime("%I:%M %p %b %d") %></td>     <!-- 回復的時間 -->
    
      <% if r.user == current_user %>                             <!-- 回覆者等於登入的使用者 -->
        <td><%= link_to "delete", topic_reply_path(@topic, r), method: :delete, data: {confirm: 'are you sure?'} %></td> 
      <% end %>
      
    </tr>  
  <% end %>
</table>


<%= form_for @reply, :url => topic_replies_path(@topic) do |f| %>      <!-- 回覆者的表單 -->
  <%#= f.label :content, 'reply'%>
 <%= f.text_area :content %>

  <br>
  <br>

  <input class="btn btn-default" type="submit" value="Submit"><%#= f.submit %>
  <button type="button" class="btn btn-success"><%= link_to "back", root_path %></button>
<% end %>

