
<table>
  <tr>
    <td>title: <%= @topic.title %></td>
  </tr>
  
  <tr>
   <td>content: <%= @topic.content %></td>
   <td>category: <%= @topic.category %></td>
  </tr>

  <!-- <tr>
    
  </tr> -->

  <% @topic.replies.each do |r| %>
    <tr>   
      <td>reply:<%= r.content %></td> 
    </tr>  
  <% end %>

</table>



<%= form_for @reply, :url => topic_replies_path(@topic) do |f| %>
  <%#= f.label :content, 'reply'%>
  <%= f.text_area :content %>

  <%= f.submit %>
<% end %>