
<table class="table">
  <tr>
    <th>title:</th>
    <th>content:</th>
    <th>category:</th>
  </tr>

  <tr>
    <td><%= @topic.title %></td> 
    <td><%= @topic.content %></td> 
    <td><%= @topic.categories.map(&:name).join(", ") %></td> 
  </tr>

  
  <% @topic.replies.each do |r| %>
    <tr>   
      <td>reply:<%= r.content %></td> 
      <td>time:<%= r.created_at %></td>
      <td>user:<%= r.user.try(:email) %></td>
    

      <% if r.user == current_user %>                               

        <td><%= link_to "delete", topic_reply_path(@topic, r), method: :delete, data: {confirm: 'are you sure?'} %></td>  

       <% end %>
      
    </tr>  
  <% end %>

</table>


<%= form_for @reply, :url => topic_replies_path(@topic) do |f| %>
  <%#= f.label :content, 'reply'%>
  <%= f.text_area :content %>

  <br>
  <br>

  <input class="btn btn-default" type="submit" value="Submit"><%#= f.submit %>
  <button type="button" class="btn btn-success"><%= link_to "back", root_path %></button>
<% end %>